



li {font-family:arial;
    size: 5px;
    font-style:italic ;
    color: white;}




    dd {font-family: Arial;
        font-style: italic
        ;color: white;
    size: 4px;}


    dt {font-family: Arial;
        font-style: italic
        ;color: white;
    size: 4px;}
