label {font-family: Arial;
        font-style: italic
        ;color: white;
    size: 4px;}


    font {font-family: Arial;
        font-style: italic
        ;color: rgb(9, 255, 9);
    size: 4px;}


